In [1]:
import pandas as pd
import pickle
import nltk
from nltk import FreqDist
from nltk import tokenize
from nltk.probability import ConditionalFreqDist

In [2]:
with open("tech_review_word_corpus.pkl","rb") as f:
    tech_review_corpus = pickle.load(f)

print (tech_review_corpus[0])

{'index': 299, 'review': 'great company people care make difference management care employee well providing continued learning opportunity'}

In [3]:
reviews = pd.DataFrame(tech_review_corpus).review.tolist()
print(reviews[0])
type(reviews)

great company people care make difference management care employee well providing continued learning opportunity

list

In [4]:
topics = ['integrity', 'ethics', 'ethic' , 'accountability' , 'trust' , 'honesty' , 'responsibility' , 'fairness' , 'do the right thing' , 'transparency' , 'ownership', 'teamwork','collaboration','cooperation','innovation','creativity','excellence','improvement','passion','pride','leadership','growth','performance','efficiency','results','respect','diversity','inclusion','development','talent','employees','dignity','empowerment','quality','customer','meet','needs','commitment','make a difference','dedication','value','exceed expectations','safety','health','work life balance', 'flexibility','community','environment','caring','citizenship','communication','openness']

found_reviews = []

for review in tech_review_corpus:
    tokins = review['review'].split(" ")
    for tokin in tokins:
        if tokin in topics:
            found_reviews.append(review)
            break

In [5]:
df = pd.DataFrame(found_reviews)

print (df.shape)

df.drop_duplicates()

(17598, 2)

         index                                             review
0         1375  much could add enjoyed working people working ...
1         2136  everyone hurry get thing done hurry part make ...
2         2209  hire term would rate hired nice intelligent pe...
3         3054  interesting day work enjoyable environment use...
4         4110  experience flour engineering construction co p...
...        ...                                                ...
17593  2587547  working assigned project working medicare sect...
17594  2587550  fast paced constantly changing work environmen...
17595  2587575  multiple culture merged workplace allows learn...
17596  2587583  one largest health insurer state owns several ...
17597  2587643  report fax claim sorting filing delivering co ...

[17598 rows x 2 columns]

In [6]:
Integrity = ['integrity', 'ethics', 'ethic' , 'accountability' , 'trust' , 'honesty' , 'responsibility' , 'fairness' , 'do the right thing' , 'transparency' , 'ownership']
Teamwork = ['teamwork','collaboration','cooperation']
Innovation = ['innovation','creativity','excellence','improvement','passion','pride','leadership','growth','performance','efficiency','results']
Respect = ['respect','diversity','inclusion','development','talent','employees','dignity','empowerment']
Quality = ['quality','customer','meet','needs','commitment','make a difference','dedication','value','exceed expectations']
Safety = ['safety','health','work life balance', 'flexibility']
Community = ['community','environment','caring','citizenship']
Communication = ['communication','openness']

In [7]:
def find_topic(review, topics):
    found_topic = []
    tokins = review.split(" ")
    for tokin in tokins:
        if tokin in topics:
            found_topic.append(tokin)
    return ', '.join(found_topic)

In [8]:
df = pd.DataFrame(tech_review_corpus)

df['Integrity'] = df.review.apply(find_topic,topics=Integrity)
df['Teamwork'] = df.review.apply(find_topic,topics=Teamwork)
df['Innovation'] = df.review.apply(find_topic,topics=Innovation)
df['Quality'] = df.review.apply(find_topic,topics=Quality)
df['Safety'] = df.review.apply(find_topic,topics=Safety)
df['Community'] = df.review.apply(find_topic,topics=Community)
df['Communication'] = df.review.apply(find_topic,topics=Communication)

In [12]:
df.head(50)

,index,review,Integrity,Teamwork,Innovation,Quality,Safety,Community,Communication
0,299,great company people care make difference mana...,,,,,,,
1,1145,powerhouse epc went heavy worksharing send muc...,,,,,,,
2,1375,much could add enjoyed working people working ...,,,,,flexibility,,
3,1874,place pretty boring time interesting facility ...,,,,,,,
4,2136,everyone hurry get thing done hurry part make ...,,,,customer,,,
5,2209,hire term would rate hired nice intelligent pe...,,,performance,,,,
6,2685,hated working company pay great management utt...,,,,,,,
7,3054,interesting day work enjoyable environment use...,,,,,,environment,
8,3082,challenging place work manager five office 200...,,,,,,,
9,3134,total thirty seven 37 year successful engineer...,,,,,,,
10,3445,short time experience great really together ma...,,,,,,,
11,3671,typical full surprise supporting system never ...,,,,,,,
12,3782,offer position throughout world importantly ta...,,,,,,,
13,3874,designing developing website application using...,,,,,,,
14,4091,routinely subject major layoff due contract st...,,,,,,,
15,4110,experience flour engineering construction co p...,,,,,"health, safety",environment,
16,4254,level learned allot information technology wor...,,,,,,,
17,4950,always treated respect given responsibility tr...,responsibility,,,,,,
18,4970,like large shop politics challenge experience ...,,,,,,environment,
19,5086,opportunity endless definitely place get get r...,,,,,,,
20,5260,many good year sorry leave due downturn manage...,,,,,,,
21,5424,typical receiving updated information coming e...,,,,customer,,,
22,5462,great compensation opportunity travel learn am...,,,,,,,
23,5537,work environment really competitive feel press...,,,,,,environment,
24,5745,company really great place work unfortunately ...,,,,,,,
25,6222,far worst management staff ever worked another...,,,,,,,
26,6406,working wtp wpp rewarding experience learned g...,,,,,,,
27,6589,company great job security people opportunity ...,,,,,,,
28,6605,great place work excellent work environment et...,ethic,,,,,environment,
29,6802,co worker really nice comfortable plenty oppor...,,,,,,,
30,6898,work life balance great people fun work,,,,,,,
31,7008,positive experience company unfortunately lost...,,,,,,,
32,7234,great company work cant say enough good thing ...,,,,,,,
33,7852,political company nature revolving door employ...,,,,,,,
34,9194,place lot scope learning technology timing goo...,,,,,,,
35,9309,amazing work life balance great exposure reall...,,,,,,,
36,9316,culture great get learn lot really push get th...,,,,,,,
37,9646,toxic environment management leadership top lo...,,,leadership,"value, value",,environment,
38,10402,support working one standing great work enviro...,,,,,,environment,
39,10803,great place work management drinking kool aid ...,,,,,,,
40,14182,company passive aggressive treat employee thre...,,,,,,,
41,14221,retail base pay determined corporate pay raise...,,,,,,,
42,14242,home depot home improvement retailer nearly 40...,"integrity, ownership",,improvement,,,,
43,15874,time home depot moved different department tim...,,,,,,,
44,15965,team practice agile development pair programmi...,,,,,,,
45,16963,home depot great company work lot encouragemen...,,,,,,,
46,17164,good company work pair programming environment...,,,,,,"environment, environment",
47,17211,one exptin life great company always date good...,,,,,,,
48,17393,good place individual develop skill learn work...,,,,,,,
49,18006,company good work life balance okay compensati...,,,,,,,